
<nav id= "navbar" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
    

    <button class= "navbar-toggler" type= "button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class= "navbar-toggler-icon" ></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto" >
              <% if user_signed_in? %>              
                <li role="separator" class="divider"></li>
                <li><%= link_to "Home | ", root_path, class: 'nav-link text-light' %></li>
                <li><%=link_to ' Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
              <% else %>
                <li><%= link_to "Home | ", root_path, class: 'nav-link text-light' %></li>
                <li><%= link_to "Acceder | ", user_session_path, class: 'nav-link text-light' %></li>
                <li><%= link_to "Acceder con Facebook | ", user_facebook_omniauth_authorize_path, method: :post, class: 'nav-link text-light' %></li>
                <li><%= link_to " Registrarse", new_user_registration_path, class: 'nav-link text-light' %></li>
              <% end %>
            </ul >
        </div >
    </div >
  </nav >