
<nav id= "navbar" class="navbar navbar-expand-sm navbar-dark fixed-top bg-success">
    <div class="container-fluid">
    

        <button class= "navbar-toggler" type= "button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class= "navbar-toggler-icon" ></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" >
              <% if user_signed_in? %>              
                <li role="separator" class="divider"></li>
                <li><%= link_to "Home | ", root_path %></li>
                <li><%= link_to "Soy Florería| ", new_shop_profile_path %></li>
                <li><%=link_to ' Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Acceder | ", user_session_path %></li>
                <li><%= link_to "Acceder con Facebook | ", user_facebook_omniauth_authorize_path, method: :post %></li>
                <li><%= link_to " Registrarse", new_user_registration_path %></li>
              <% end %>
            </ul >
        </div >
    </div >
  </nav >