<h1>Producto Actual</h1>



<% @order_items.each do |item| %>

    <h3>Producto: <%= item.product.name %></h3>
    <h5>Precio:<%= item.product.price %></h5>


    <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :product_id, :value => item.product.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Cart "%>
        <%= link_to "Remove Items", order_item_path(item), method: :delete, remote: true%>
    <% end %>
    <h2>Total: <%= item.total %></h2>

<% end %>
