<div class="card">
  <h1 class="card-header text-center"> <i id="cart-icon" class="fas fa-shopping-cart fa-1x"></i></h1>


  <div class="card-1" style="width: 100%">
    <% @order_items.each do |item| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><img class="card-img-top flower-img"src="<%= item.product.img_url %>" alt="<%=item.product.name%>"/></li>
        <li class="list-group-item">Producto: <%= item.product.name %></li>
        <li class="list-group-item">Total: <%= item.total %></li>
        <li class="list-group-item"><%= link_to "Remover Producto", order_item_path(item), method: :delete, remote: true%></li>
      </ul>
    <% end %>
  </div>
</div>
