<div class="card">
  <h4>Cart</h4>
  <div class="card-body">
    <% @order.order_items.includes(:product).each do |item| %>
      <div class="row">
        <div class="col-xs-2 col-md-2">
          <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew">
        </div>
        <div class="col-xs-4 col-md-6">
          <h4 class="product-name"><strong><%= item.product.name %></strong></h4>
          <h4><small><%= item.product.description %></small></h4>
        </div>
        <div class="col-xs-6 col-md-4 row">
          <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
            <h6><strong><%= item.price%> <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-xs-4 col-md-4">
            <%= item.quantity %>
          </div>
          <div class="col-xs-2 col-md-2">
          </div>
        </div>
      </div>
      <hr>
    <% end %>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-success pull-right">Pay</a>
      <div class="pull-right" style="margin: 5px">
        Total: $<b><%= @order.total %></b>
      </div>
    </div>
</div>