<%= form_with(model: checkout, local: true) do |form| %>
  <% if checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :signature %>
    <%= form.text_area :signature %>
  </div>

  <div class="field">
    <%= form.label :recipient_name %>
    <%= form.text_field :recipient_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :florist_instruction %>
    <%= form.text_area :florist_instruction %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
