<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @payment.token %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<p>
  <strong>Total:</strong>
  <%= @payment.total %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @payment.checkout %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
