<p id="notice"><%= notice %></p>

<h1>Shop Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Description</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_profiles.each do |shop_profile| %>
      <tr>
        <td><%= shop_profile.name %></td>
        <td><%= shop_profile.phone %></td>
        <td><%= shop_profile.address %></td>
        <td><%= shop_profile.description %></td>
        <td><%= link_to 'Show', shop_profile %></td>
        <td><%= link_to 'Edit', edit_shop_profile_path(shop_profile) %></td>
        <td><%= link_to 'Destroy', shop_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop Profile', new_shop_profile_path %>
