<p id="notice"><%= notice %></p>

<h2 class="display-5 font-weight-bold my-3 text-center">Florerías</h2>

<div class="container px-5">
  <div class="row">
      <% @shop_profiles.each do |shop_profile| %>
        <div class="col-12 col-md-4 p-4 seccion">
          <div class="card card-1 h-100">
            <img class="card-img-top flower-img"src="<%= shop_profile.img_url %>" alt="<%=shop_profile.name%>"/>
            <div class="card-body">
              <h5 class="card-title"><%= shop_profile.name %></h5>
              <div class="card-text">
            
                <div>Fono:<%= shop_profile.phone %></div>
                <div>Dirección:<%= shop_profile.address %></div>
                <div><%= shop_profile.description %></div>
                
              </div>
              <div class="row float-right">
                <%= link_to 'Reseñas', shop_profile_path(shop_profile) %>
                  <% if current_user.is_admin? %>
                    <div><%= link_to 'Edit', edit_shop_profile_path(shop_profile) %></div>
                    <div><%= link_to 'Destroy', shop_profile, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

<% if current_user.is_admin? %>
<%= link_to 'New Shop Profile', new_shop_profile_path %>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
