<p id="notice"><%= notice %></p>

<h2 class= 'text-center'>Productos</h2>
<div class="row">
  <div class="col-md-8 offset-2">
    <div class="container">
      <div class="row">
          <% @products.each do |product| %>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top"src="<%= product.img_url %>" alt="<%=product.name%>"/>
                <div class="card-block">
                  <h5 class="card-title"><%= product.name %></h5>
                  <div class="card-text">
                    <div class="badge badge-primary"><%=product.categories.name %></div>
                    <div><%= product.description %></div>
                    <div><%= number_to_currency product.price %></div>
                  </div>
                  <div class="row float-right">
                    <div class="col-md-12">
                      <%= form_for :cart, url: cart_path, method: :put do |f| %>
                        <%= f.hidden_field :product_id, value: product.id %>
                        <%= f.hidden_field :quantity, value: 1 %>
                        <%= f.submit "Add to cart" %>
                      <% end %>
                    </div>
                      <div><%= link_to 'Show', product %></div>
                      <% if user_signed_in? && (product.user_id == current_user.id) %>
                        <div><%= link_to 'Edit', edit_product_path(product) %></div>
                        <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>



<hr>
