<p id="notice"><%= notice %></p>


  <h1 class="display-5 font-weight-bold my-3 text-center">Productos</h1>



    <div class="container px-5">
      <div class="row">
          <% @products.each do |product| %>
            <div class="col-12 col-md-4 p-4 seccion">
              <div class="card card-1 h-100">
                <img class="card-img-top flower-img"src="<%= product.img_url %>" alt="<%=product.name%>"/>
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <div class="card-text">
                
                    <div><%= product.description %></div>
                    <div><%= number_to_currency product.price %></div>
                  </div>
                  <div class="row float-right">
                    <div class="col-md-12">
                      <%= form_for @order_item, remote: true  do |f|%>
                        <%= f.hidden_field :product_id, :value => product.id %>
                        <%= f.hidden_field :quantity, :value => 1, :min =>  1%>
                        <div><%= f.submit " Comprar "%> </div>
                      <% end %>
                    </div>
                      <% if current_user.is_admin? %>
                        <div><%= link_to 'Edit', edit_product_path(product) %></div>
                        <div><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

      </div>
    </div>
 


<% if current_user.is_admin? %>
<%= link_to 'New Product', new_product_path %>
<% end %>



<hr>
